<div class="films">
  <div class="films-popular">
    <h2 class="films-title">Популярные фильмы</h2>
    <div class="films-fields">
      <mat-form-field appearance="fill">
        <mat-label>Все</mat-label>
        <mat-select>
          <mat-option (click)="showAllFilms()">Все</mat-option>
          <mat-option
            (click)="updateListFilms(genre)"
            *ngFor="let genre of allGenres"
            [value]="genre">{{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Введите название</mat-label>
        <input [(ngModel)]="searchTerm" matInput type="text">
        <button class="films-search-button" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#808080FF" height="24px" width="24px" version="1.1" id="Capa_1" viewBox="0 0 52.966 52.966" xml:space="preserve">
<path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21  c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279  C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19  S32.459,40,21.983,40z"/>
</svg>
        </button>
      </mat-form-field>
    </div>
    <div class="films-cards">
      <div
        *ngFor="let item of films$ | async">
        <film-card
          [filmData]="item"
          [isFavoriteFilm]="(item.id === (favoriteFilmId$ | async))"
          (changeFavorite)="onSaveFilm(item.id)"
          [isFavoriteButton]="true"
        />
      </div>
    </div>
  </div>
  <div class="films-favourite">
    <div *ngIf="currentFavoriteFilm$ | async">
      <h2 class="films-title">Самый лучший фильм</h2>
      <film-card [filmData]="currentFavoriteFilm$ | async"
                 [isFavoriteButton]="false"
      />
    </div>
  </div>
</div>
