@mixin fontDarkBlue {
  color: #1D1838;
  font-family: 'Montserrat', sans-serif;
}

.film-card {
  padding: 15px 20px;
  width: 190px;
  height: 406px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(29, 24, 56, 0.1);
  position: relative;

  .film-card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    .film-card-image img {
      width: 150px;
      height: 225px;
      border-radius: 5px;
    }

    .film-card-title {
      @include fontDarkBlue;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      align-items: center;
      overflow-wrap: anywhere;
    }

    .film-card-genre {
      @include fontDarkBlue;
      font-size: 12px;
      line-height: 14px;
      align-items: center;
    }

    .film-card-year {
      @include fontDarkBlue;
      font-size: 12px;
      line-height: 14px;
      align-items: center;
    }

    .film-card-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      align-self: end;
    }
  }
}

.film-card:hover {
  box-shadow: 0 0 15px rgba(29, 24, 56, 0.26);
  cursor: pointer;
}
